<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Open:</strong>
  <%= @club.open %>
</p>

<p>
  <strong>Close:</strong>
  <%= @club.close %>
</p>

<p>
  <strong>Address:</strong>
  <%= @club.address %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @club.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @club.latitude %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @club.phone %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @club.cover %>
</p>

<p>
  <strong>Content:</strong>
  <%= @club.content %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
